@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-blue: #1D428A;

  /* colores del escudo del celta de vigo */
  --color-blue-celta: #8AC3EE;
  --color-red-celta: #D50032;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-blue: var(--color-dark-blue);

  --color-blue-celta: var(--color-blue-celta);
  --color-red-celta: var(--color-red-celta);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
