@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-dark-blue: #1d428a;

  /* colores del escudo del celta de vigo */
  --color-blue-celta: #8ac3ee;
  --color-red-celta: #d50032;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-blue: var(--color-dark-blue);

  --color-blue-celta: var(--color-blue-celta);
  --color-red-celta: var(--color-red-celta);

  --radius-4xl: 1rem;
  --radius-5xl: 1.5rem;
  --radius-6xl: 2rem;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  button,
  a {
    @apply cursor-pointer;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  @apply cursor-pointer;
}
